.clearfix:before,.clearfix:after {
  content: "";
  display: table
}

.clearfix:after {
  clear: both
}

html {
  overflow-y: scroll;
  border-top: 4px dashed #333;
  border-bottom: 4px dashed #333;
}

body {
  color: #333;
  font-family: "proxima-nova",Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}


#header {
  text-align: center;
}

#header h1 {
  color: #FF0000;
  border-bottom: none;
  font-family: "estilo-pro",Palatino,Garamond,Georgia,serif;
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
  margin: 44px 0 10px 0;
}

#footer {
  margin-top: 3em;
}

@media only screen and (max-width: $break1) {
  #header h1 {
    font-size:3em;
    margin: 10px 0 0 0
  }
}

#header a:link, #header a:visited {
  font-weight: normal;
  text-decoration: none
}

@media only screen and (max-width: $break4) {
  body {
    font-size:16px
  }
}

@media only screen and (max-width: $break1) {
  body {
    font-size:15px
  }
}

#container {
  margin: 0 auto 60px auto;
  max-width: 700px;
  width: 94%;
}

@media only screen and (max-width: $break4) {
  #container {
    max-width:600px
  }
}

@media only screen and (max-width: $break2) {
  #container {
    max-width:700px
  }
}

.home #container,.about #container,.resume #container {
  max-width: 700px
}

.left {
  float: left;
  width: 60%
}

.right {
  float: right;
  width: 35%;
  overflow-x: hidden
}

@media only screen and (max-width: $break1 + 200) {
  .left,.right {
    float:none;
    width: 100%
  }
}

a:link, a:visited {
  color: #FF0000;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

a[rel="tag"] {
  color: #666;
}


h1,h2,h3,h4 {
  color: #333;
  line-height: 1.2em;
  border-bottom: 1px solid #eee;
}

h1 a:link, h1 a:visited,h2 a:link, h2 a:visited,h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited {
  text-decoration: none
}

h1 a:hover, h1 a:focus, h1 a:active,h2 a:hover, h2 a:focus, h2 a:active,
h3 a:hover, h3 a:focus, h3 a:active,h4 a:hover, h4 a:focus, h4 a:active {
  text-decoration: underline
}

h1 {
  font-size: 1.8em;
  margin: .8em 0 .2em 0
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.15em;
  margin: 1.2em 0 .4em 0;
}

h3 {
  font-size: 1.3em;
  margin: 1.2em 0 .6em 0;
  color: #999
}

h4 {
  font-size: 1.1em;
  margin: 1.2em 0 .6em 0;
  color: #999
}

.postHeader {
  text-align: center
}

.content h1 a:link, .content h1 a:visited {
  color: #333;
  text-decoration: none
}

p {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  line-height: 1.6em;
}

p.final {
  margin-bottom: 1.5em;
}

p code {
  font-size: 12px;
  background-color: #eee;
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 4px;
  white-space: nowrap
}

li p {
  margin-top: 0.2em;
  margin-bottom: 0.2;
}

span.inline-code {
  white-space: nowrap;
  font-family:"Courier";
  background-color: #eee;
  padding: 0 0.2em 0 0.2em
}

blockquote {
  padding: 0em 1em 0em 1em;
  border-left: 6px solid #333;
  font-style: italic;
  color: #555;
  margin: 0 auto 1em auto;
  text-align: justify;
}

blockquote#header-quote {
  margin: 0.5em 0 2em 0;
}

blockquote .author {
  font-style: normal;
  text-align: right;
  margin: 0.4em 0 0.2em 0
}

blockquote .author a:link {
  text-decoration: none;
}

blockquote .author a:hover {
  text-decoration: underline;
}


ul {
  margin-top: .5em;
  margin-bottom: 1.5em;
  padding-left: 0em;
  list-style-type: none;
}

ul.bullet {
  padding-left: 1.5em;
  list-style-type: disc;
}

li {
  margin: .3em 0
}

abbr[title] {
  border-bottom: 1px dotted #999
}

.red {
  color: #FF0000
}

.strong {
  font-weight: bold
}

img,iframe,object,embed,audio,video {
  display: block;
  margin: 20px auto;
  max-width: 100%
}

img {
  padding: 3px;
  border: 1px solid #eee
}

.carbonad {
  background: #f9f7f2 !important;
  border: 1px solid #eee !important;
}

.carbonad img {
  margin: 0;
  max-width: none;
  padding: 11px 0 0 11px;
  border: 0
}

.home .carbonad,.about .carbonad {
  height: 100px !important;
  padding: 10px !important;
  position: static !important;
  margin: 15px auto !important;
  width: 260px !important;
}

.home .carbonad img,.about .carbonad img {
  margin: 0;
  padding: 0
}

.post .carbonad {
  position: absolute !important;
  margin-top: -30px !important;
  margin-left: 730px !important;
  z-index: 5;
}

@media only screen and (max-width: $break4) {
  .post .carbonad {
    margin-left:625px !important
  }
}

@media only screen and (max-width: $break3) {
  .post .carbonad {
    height:100px !important;
    padding: 10px !important;
    position: static !important;
    margin: 15px auto !important;
    width: 260px !important
  }

  .post .carbonad img {
    margin: 0;
    padding: 0
  }
}

.home .carbonad-image,.about .carbonad-image {
  margin: 0 10px 0 0 !important;
  padding: 0 !important
}

@media only screen and (max-width: $break3) {
  .post .carbonad-image {
    margin:0 10px 0 0 !important;
    padding: 0 !important
  }
}

.home .carbonad-text,.home .carbonad-tag,.about .carbonad-text,
.about .carbonad-tag {
  margin: 2px 0 0 0 !important;
  padding: 0 !important
}

@media only screen and (max-width: $break3) {
  .post .carbonad-text,.post .carbonad-tag {
    margin:2px 0 0 0 !important;
    padding: 0 !important
  }
}

.carbonad-text {
  color: #999 !important;
}

.carbonad-text a {
  color: #666 !important
}

.carbonad-tag {
  color: #999 !important;
}

.carbonad-tag a {
  color: #999 !important
}

.home .carbonad-tag,.about .carbonad-tag {
  margin-top: 15px !important
}

@media only screen and (max-width: $break3) {
  .post .carbonad-tag {
    margin-top:15px !important
  }
}

#github {
  position: absolute;
  top: 50px;
  left: -75px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #e43936;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 80px;
  text-align: center;
  text-decoration: none;
  text-shadow: 10px,10px,10px,#333;
  -webkit-box-shadow: #999 1px 1px 4px;
  box-shadow: #999 1px 1px 4px;
}

#github:hover, #github:focus, #github:active {
  background: #FF0000
}

@media only screen and (max-width: $break2) {
  #github {
    display:none
  }
}

.home h2 {
  position: relative;
  margin-top: 1.2em
}

.home small {
  color: #666;
  text-align: center;
  font-size: 1em
}

.rss {
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  float: right;
  height: 23px;
  width: 23px;
}

.rss img {
  margin: 0;
  border: 0;
  padding: 1px
}

.meta .rss {
  margin-top: -3px
}

.rss:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none
}

.byline {
  color: #999;
  font-size: .75em;
  text-align: center
}

.byline > *:not(:last-child):after {
  content: " \2022 ";
  padding: 0 .4em
}

.tags {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none
}

.tags li {
  display: inline
}

.tags li:not(:last-child):after {
  content: ", "
}

.byline a:link, .byline a:visited {
  color: #999;
  text-decoration: underline
}

.byline a:hover, .byline a:focus, .byline a:active {
  color: #FF0000;
  text-decoration: underline
}

.meta {
  margin-top: 75px
}

.copy .avatar {
  float: left;
}

.copy .avatar img {
  margin: 0 15px 15px 0
}

.copy input {
  display: inline;
  font-size: 14px
}

.copy [type="email"] {
  margin-left: 10px;
  width: 150px
}

.copy .twitter-share-button,.copy .twitter-follow-button {
  display: inline-block
}

.copy iframe {
  margin: 0 0 30px 0;
  vertical-align: top
}

.resume h1 {
  border-bottom: 0;
  margin-top: 0;
  text-align: center
}

.resume h3 {
  border-bottom: 0;
  color: #333;
  font-size: 1.05em;
  font-weight: bold;
  margin-bottom: .5em;
  text-decoration: none;
  vertical-align: top
}

.resume li span,.resume h3 span {
  color: #666;
  font-size: 1em;
  font-weight: normal;
  margin-left: 2px;
}

.resume li span:before,.resume h3 span:before {
  content: " ["
}

.resume li span:after,.resume h3 span:after {
  content: "]"
}

.resume .right h3 {
  margin-bottom: .3em
}

.resume .right h3 + p {
  margin: .3em 0
}

.resume .right ul {
  margin-top: .3em
}

a.prev {
  left: -120px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

a.next {
  right: -120px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

a.prev,a.next {
  display: block;
  font-size: 1.1em;
  font-weight: normal;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  overflow: hidden;
  padding: 50px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  top: 45%;
  width: 250px;
  white-space: nowrap;
  z-index: 2;
}

a.prev:hover,a.next:hover {
  opacity: 1 !important;
  -ms-filter: none;
  filter: none
}

a.prev.hidden,a.next.hidden,a.prev.hidden:hover,a.next.hidden:hover {
  display: none
}

a.prev:before,a.next:before {
  content: "";
  background: url("/images/up.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 25px;
  width: 24px
}

@media only screen and (max-width: $break4) {
  a.prev,a.next {
    font-size:1em
  }
}

@media only screen and (max-width: $break2) {
  a.prev,a.next {
    display:none
  }
}

ul.listing {
  margin: 20px 0 30px 0;
  padding: 0;
}

ul.listing > li {
  list-style: none;
  margin: 20px 0;
}

ul.listing > li > a:link, ul.listing > li > a:visited {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none
}

ul.listing > li > a:hover, ul.listing > li > a:focus,
ul.listing > li > a:active {
  text-decoration: underline
}

ul.listing span,ul.listing time {
  display: block;
  color: #666
}

ul.listing time a:link, ul.listing time a:visited {
  color: #666;
  text-decoration: underline
}

ul.listing time a:hover, ul.listing time a:focus, ul.listing time a:active {
  color: #FF0000
}

.highlight {
  margin: 1.2em 0;
  background-color: #eee;
  font-size: 13px;
  line-height: 1.4em;
  padding: 0 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  color: #333
}

.hightlight code {
  float: left
}

.highlight:hover {
  overflow: auto
}

.highlight .hll {
  background-color: #ffc
}

.highlight .c {
  color: #888
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2
}

.highlight .k {
  color: #080;
  font-weight: bold
}

.highlight .cm {
  color: #888
}

.highlight .cp {
  color: #c00;
  font-weight: bold
}

.highlight .c1 {
  color: #888
}

.highlight .cs {
  color: #c00;
  font-weight: bold;
  background-color: #fff0f0
}

.highlight .gd {
  color: #000;
  background-color: #fdd
}

.highlight .ge {
  font-style: italic
}

.highlight .gr {
  color: #a00
}

.highlight .gh {
  color: #303030
}

.highlight .gi {
  color: #000;
  background-color: #dfd
}

.highlight .go {
  color: #888
}

.highlight .gp {
  color: #555
}

.highlight .gs {
  font-weight: bold
}

.highlight .gu {
  color: #606060
}

.highlight .gt {
  color: #a00
}

.highlight .kc {
  color: #080;
  font-weight: bold
}

.highlight .kd {
  color: #080;
  font-weight: bold
}

.highlight .kn {
  color: #080;
  font-weight: bold
}

.highlight .kp {
  color: #080
}

.highlight .kr {
  color: #080;
  font-weight: bold
}

.highlight .kt {
  color: #888;
  font-weight: bold
}

.highlight .m {
  color: #00d;
  font-weight: bold
}

.highlight .s {
  color: #d20;
  background-color: #fff0f0
}

.highlight .na {
  color: #369
}

.highlight .nb {
  color: #038
}

.highlight .nc {
  color: #b06;
  font-weight: bold
}

.highlight .no {
  color: #036;
  font-weight: bold
}

.highlight .nd {
  color: #555
}

.highlight .ne {
  color: #b06;
  font-weight: bold
}

.highlight .nf {
  color: #06b;
  font-weight: bold
}

.highlight .nl {
  color: #369;
  font-style: italic
}

.highlight .nn {
  color: #b06;
  font-weight: bold
}

.highlight .py {
  color: #369;
  font-weight: bold
}

.highlight .nt {
  color: #b06;
  font-weight: bold
}

.highlight .nv {
  color: #369
}

.highlight .ow {
  color: #080
}

.highlight .w {
  color: #bbb
}

.highlight .mf {
  color: #00d;
  font-weight: bold
}

.highlight .mh {
  color: #00d;
  font-weight: bold
}

.highlight .mi {
  color: #00d;
  font-weight: bold
}

.highlight .mo {
  color: #00d;
  font-weight: bold
}

.highlight .sb {
  color: #d20;
  background-color: #fff0f0
}

.highlight .sc {
  color: #d20;
  background-color: #fff0f0
}

.highlight .sd {
  color: #d20;
  background-color: #fff0f0
}

.highlight .s2 {
  color: #d20;
  background-color: #fff0f0
}

.highlight .se {
  color: #04d;
  background-color: #fff0f0
}

.highlight .sh {
  color: #d20;
  background-color: #fff0f0
}

.highlight .si {
  color: #33b;
  background-color: #fff0f0
}

.highlight .sx {
  color: #2b2;
  background-color: #f0fff0
}

.highlight .sr {
  color: #080;
  background-color: #fff0ff
}

.highlight .s1 {
  color: #d20;
  background-color: #fff0f0
}

.highlight .ss {
  color: #a60;
  background-color: #fff0f0
}

.highlight .bp {
  color: #038
}

.highlight .vc {
  color: #369
}

.highlight .vg {
  color: #d70
}

.highlight .vi {
  color: #33b
}

.highlight .il {
  color: #00d;
  font-weight: bold
}

@media print {
  body,h1,h2,h3,h4,.content h1 a,.highlight {
    color: #000;
    background-color: #fff
  }

  section.meta,div#carbonads-container {
    display: none
  }

  article a:link:after,article a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%
  }
}


/* Contact Me Ribbon */

#contact-me {
    position: absolute;
    top: 50px;
    left: -50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #000000;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 80px;
    text-align: center;
    text-decoration: none;
    text-shadow: 10px, 10px, 10px, #333;
    -webkit-box-shadow: #999 1px 1px 4px;
    box-shadow: #999 1px 1px 4px;
}
#contact-me:hover,
#contact-me:focus,
#contact-me:active {
    background: #e22c29
}
@media only screen and (max-width: 800px) {
    #contact-me {
        display: none
    }
}
